$background-color: #131921;
$btn-primary-color: #febd69;
$btn-primary-hover-color: #f3a847;
$btn-secondary-color: #ffd814;
$text-color: #fff;
$content-background-color: #e3e6e6;
$footer-background-color: #232F3E;